<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9390bf4c-abd8-40e2-8b70-4c02c930a15e/resourceGroups/deploy/providers/Microsoft.Web/sites/hubnewsapi</ResourceId>
    <ResourceGroup>deploy</ResourceGroup>
    <ApiResourceId>/subscriptions/9390bf4c-abd8-40e2-8b70-4c02c930a15e/resourceGroups/deploy/providers/Microsoft.ApiManagement/service/HubNewsCollectionapi/apis/HubNewsCollection</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://hubnewsapi-grfgdpgrbtd4g3cj.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>a0eb68e3-046a-40e1-b608-9c5142d6e763</ProjectGuid>
    <PublishUrl>https://hubnewsapi-grfgdpgrbtd4g3cj.scm.brazilsouth-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>